/* public/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: teal; /* Set the background color to teal */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: inline;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: rgb(143, 221, 221);
}

input {
    width: 50px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid rgb(3, 3, 3)717;
    border-radius: 5px; 
    background-color: rgb(35, 223, 223); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: rgb(3, 3, 3)717;
}

#results p {
    color: rgb(5, 69, 32);
    margin-bottom: 10px;

}

div {
    text-align: center;
}